//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.

params {
    help = false
    version = false
    fastq = null
    out_dir = "output"
    sample_sheet = null
    sample = null
    single_cell_sample_sheet = null
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    kit_config = "${projectDir}/kit_configs.csv"
    max_threads = 4
    plot_umaps = false

    ref_genome_dir = null
    barcode_adapter1_suff_length = 10
    barcode_min_quality = 15
    barcode_max_ed = 2
    barcode_min_ed_diff = 2
    gene_assigns_minqv = 30
    matrix_min_genes = 200
    matrix_min_cells = 3
    matrix_max_mito = 20
    matrix_norm_count = 10000
    umap_plot_genes = "${projectDir}/umap_plot_genes.csv"
    umap_n_repeats = 6
    resources_mm2_max_threads = 4
    resources_mm2_flags = "-I 16G"
    process_chunk_size = 100000
    adapter_scan_chunk_size = 0
    kit_name = "3prime"
    kit_version = "v3"
    expected_cells = 500
    merge_bam = false
    mito_prefix = "MT-"
    stringtie_opts = "-c 2"

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'



    wf {
        example_cmd = [
            "--expected_cells 100",
            "--fastq 'wf-single-cell-demo/chr17.fq.gz'",
            "--kit_name '3prime'",
            "--kit_version 'v3'",
            "--ref_genome_dir 'wf-single-cell-demo'",
            "--umap_plot_genes 'wf-single-cell-demo/umap_plot_genes.csv'",
        ]
        container_sha = "sha8e7d91013029ea8721743bd087583e5205cdc1dc"
        common_sha = "sha0a6dc21fac17291f4acb2e0f67bcdec7bf63e6b7"
    }
}

manifest {
    name            = 'epi2me-labs/wf-single-cell'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-single-cell'
    description     = 'Identification of cell- and UMI barcodes from single-cell sequencing.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '0.2.7'
}

epi2melabs {
    tags = 'transcriptomics'
    icon = 'faCircle'
}

executor {
    $local {
        cpus = 8
        memory = "12 GB"
    }
}

env {
	PYTHONNOUSERSITE = 1
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:singlecell {
        container = "ontresearch/wf-single-cell:${params.wf.container_sha}"
    }
    withLabel:wf_common {
		container = "ontresearch/wf-common:${params.wf.common_sha}"
	}
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    conda {
		conda.enabled = true
	}

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:singlecell {
                container = "${params.aws_image_prefix}-wf-single-cell:${params.wf.container_sha}-root"
            }
            withLabel:wf_common {
				container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}-root"
			}
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
}
